<div class="divImg" id="Img1" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="100">
    <div class="headingDiv">
        <!--Main Heading texts with their own CSS-->
        <h1 class="headingText" id="hustlerText"> HUSTLER.</h1>
        <h1 class="headingText" id="problemSolverText">SOLVER;</h1>
        <h1 class="headingText" id="artistText">ARTIST!</h1>
        <h2 class="transparentHeading">Every great story on the planet happened when someone decided not to give up, but keep going <br> NO MATTER WHAT! <br> - Spryte Loriano.</h2>
    </div>

    <div class="contentArea">
        <p>
            <!-- Centers the content -->
            <!-- Purpose Section -->
            <br>
            <br>
            <!-- Photo -->
            <img src="assets/Images2/About1.jpg" frameborder="0" width=55% height="auto" allowfullscreen alt="Niagara Falls Photo of mine">
            <br>
            <b id="aboutDescription">Hi my name's Yatharth Soni. <br>
            I'm am a Problem Solver, an Artist and a Hustler. <br>
            As a Problem Solver, I'm on a journey of developing Softwares which makes the life of the users easier so that they could forego the complications by investing their precious time in making the world a better place. <br>
            As an artist I make Pizzas, write blogs/quotes, travel solo to places and try to master the Art of Living using consistent meditation. <br>
            As a Hustler I practice on personal productivity tips and tricks. I'm always on a project of developing or experiencing something enormous which helps to streches me outta my comfort zone. <br>
            For collabs or inquiries please e-mail me at yatharth.soni14@gmail.com. <br>
            </b>
        </p>
        <br>
        <br>
    </div>
</div>
<div class="divImg" id="Img2" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="100">
    <h2 class="headingText" id="workText" style="color: #90303d;">EXTRA CURRICULAR</h2>
    <div class="contentArea">
        <br>
        <br>
        <div class="container">
            <div class="row">

                <!-- Math Tutor-->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="assets/ExtraCurricular/MathTutor.jpg" width="75%" height="auto" class="card-img-top" alt="Math Tutor Photo">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Peer Assisted Learning Leader - Computer Math Fundamentals</h5>
                            <div class="card-text text-black-50">Sheridan College</div>
                            <br>
                            <div class="card-text text-black-50">
                                <!-- Math Tutor Pop Up using button -->
                                <app-math-tutor-pop-up></app-math-tutor-pop-up>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>

                <!-- Pizza Chef -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-1 shadow">
                        <img src="assets/ExtraCurricular/PizzaChef.jpeg" width="76%" height="auto" class="card-img-top" alt="Pizza Chef photo">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Head Pizza Chef</h5>
                            <div class="card-text text-black-50">Gino's pizza</div>
                        </div>
                        <br>
                        <div class="card-text text-black-50">
                            <button mat-raised-button (click)="openDialog()">LEARN MORE</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <!-- Meditator -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="assets/ExtraCurricular/Meditator.jpg" width="75%" height="auto" class="card-img-top" alt="Meditator Image">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">Meditator</h5>
                            <div class="card-text text-black-50">The Art of Living Foundation</div>
                        </div>
                        <br>
                        <div class="card-text text-black-50">
                            <button mat-raised-button (click)="openDialog()">LEARN MORE</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <!-- The One Thing Member -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-0 shadow">
                        <img src="assets/ExtraCurricular/TheOneThing.JPG" width="76%" height="auto" class="card-img-top" alt="The One Thing Member Photo">
                        <div class="card-body text-center">
                            <h5 class="card-title mb-0">The One Thing Member</h5>
                        </div>
                        <div class="card-text text-black-50">
                            <button mat-raised-button (click)="openDialog()">LEARN MORE</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>

            </div>
            <br>
            <br>
            <br>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </div>
</div>