<mat-toolbar class="menuBar">
    <!--Menu items with links-->

    <!-- Jump to Works link -->
    <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">       
    <a routerLink="/work" style="color: ghostwhite; text-decoration: none;">
    WORKS</a>
    </span>

    <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">
    <a routerLink="/about" style=" color:ghostwhite; text-decoration: none;">    
    ABOUT</a>
    </span>

    <!-- github link -->
    <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">
        <a href="https://github.com/soniyath" target="_blank" style="color: ghostwhite; text-decoration: none;">
            GITHUB
        </a>
    </span>

    <!-- contact me box -->
    <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">
    <a href="mailto:yatharth.soni14@gmail.com" style="color: ghostwhite; text-decoration: none;">
        SAY HI!
    </a></span>
</mat-toolbar>

<!-- Routing Pages -->
<router-outlet>
</router-outlet>


<footer class="footerContent">
    <!-- Last Grid Column -->
    <mat-grid-list cols="2" rows="2" rowHeight="100%" columnHeight="10%">
        <a routerLink="about" style="text-decoration: none; color: ghostwhite">
            <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">ABOUT</mat-grid-tile>
        </a>
        <a href="https://github.com/soniyath" target="_blank" style="color: ghostwhite;">
            <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">GITHUB</mat-grid-tile>
        </a>
        <a href="https://www.linkedin.com/in/yatharth-soni/" target="_blank" style="color: ghostwhite;">
            <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">LINKED IN</mat-grid-tile>
        </a>
        <a href="mailto:yatharth.soni14@gmail.com" style="color: ghostwhite;">
            <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">SAY HI!</mat-grid-tile>
        </a>
    </mat-grid-list>
</footer>