.menuItems {
    flex: 1 1 auto;
    font-family: oxygen;
    color: whitesmoke;
    font-size: 1.0em;
    transition: 0.7 all;
    overflow: hidden;
    letter-spacing: 0.4em;
}

.menuItems:hover {
    content: '';
    text-decoration-line: underline;
}


/* Menu Items screen Adjust */

@media screen and (max-width: 1204px) {
    .menuItems {
        flex: 1 1 auto;
        font-family: oxygen;
        color: whitesmoke;
        font-size: 1.0em;
        transition: 0.7 all;
        overflow: hidden;
        letter-spacing: 0.4em;
    }
}

@media screen and (max-width: 500px) {
    .menuItems {
        flex: 1 1 auto;
        font-family: oxygen;
        color: whitesmoke;
        transition: 0.7 all;
        overflow: hidden;
        font-size: 8px;
    }
}

.menuBar {
    background-color: #5b8c85;
    align-items: center;
    text-align: center;
}

.menuBar:hover {
    transition-duration: 150ms;
    background: #75b79e;
}


/* footer CSS from here */

.footerContent {
    background-color: whitesmoke;
    color: whitesmoke;
    letter-spacing: 0.2em;
    bottom: 0;
    width: 100%;
    height: 50px;
}

#footerButtons {
    opacity: 90%;
    padding: 5em;
}

mat-grid-tile {
    background-color: #39403A;
    width: inherit;
    height: inherit;
}