<!--Menu bar for all the page with links-->
<div class="divImg" id="Img1" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="100">
    <!--Mat toolbar is Angular Material toolbar allows us to have a fancy toolbar with flex 1 1 distance items-->
    <mat-toolbar class="menuBar">
        <!--Menu items with links-->
        <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">WORKS</span>
        <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">ABOUT</span>
        <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">BLOGS</span>
        <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">EXTRAAS</span>
        <span class="menuItems" matRipple [matRippleUnbounded]="unbounded">SAY HI!</span>
    </mat-toolbar>

    <!--Heading Division for Main Heading texts-->
    <div class="headingDiv">
        <!--Main Heading texts with their own CSS-->
        <h1 class="headingText" id="hustlerText"> HUSTLER.</h1>
        <h1 class="headingText" id="problemSolverText">SOLVER;</h1>
        <h1 class="headingText" id="artistText">ARTIST!</h1>
        <h2 class="transparentHeading">Every great story on the planet happened when someone decided not to give up, but keep going <br> NO MATTER WHAT! <br> - Spryte Loriano.</h2>
    </div>

    <!--ContentArea: black semi-transparent background with main content in it-->
    <div class="contentArea">
        <!--To do: Finish the Heading cleaning part of the content-->
        <h2 class="headingText" id="workText">WORKS</h2>
    </div>

    <!--Transparent heading : Medical Registration Application-->
    <!--p tag : center Aligns the area and inline styling for the U tag-->
    <p><u class="transparentHeading" id="medicalTitle">Medical Registration Application</u></p>
    <div class="contentArea">
        <!-- Centers the content -->
        <p>
            <!-- 1st Video for the works -->
            <br>
            <br>
            <!-- Youtube link to the video -->
            <iframe width=70% height=auto src="https://www.youtube-nocookie.com/embed/kj1hLFSORTQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <b id="projectDescription"> A Web Application with user friendly-UI fulfilling the purpose of registering, managing and ultimately storing the patient data into the hospital database for future usage by providing ease of access to the Hospital Team.
    </b>
            <br>
            <br>
            <!--Learn More  button for pop up and giving out a link for Git Hub-->
            <br>
            <br>
        </p>
        <!-- content Area Closure -->
    </div>
    <!-- divImg1 Closure  -->
</div>
<!--Div Img 2 : Work #2 Area begins-->
<div class="divImg" id="Img2" matRipple [matRippleUnbounded]="unbounded" [matRippleRadius]="100">
    <!-- SpaceAndtime Heading -->
    <p><u class="transparentHeading" id="medicalTitle">Space and Time Complexity Calculator</u></p>

    <!-- SpaceAndTime Content Area -->
    <div class="contentArea">
        <p>
            <br>
            <br>
            <iframe width=70% height="auto" src="https://www.youtube-nocookie.com/embed/kj1hLFSORTQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <br>
            <b id="projectDescription">
                A C program to compare 3 sorting algorithms including Bubble Sort, Insertion Sort, and Quick Sort. This assignment will help you understand how the sorting algorithms work, the efficiency of the sorting algorithms when having different sizes of input,
                and the comparison of them in terms of time complexity.
            </b>
            <br>
            <br>
            <button mat-raised-button>LEARN MORE</button>
            <br>
            <br>
        </p>
    </div>

    <!-- Heading #3 Website -->
    <p>
        <u class="transparentHeading" style="font-size: 2em; color: whitesmoke;">3. Website</u>
    </p>

    <!-- Website Content..including the image -->
    <div class="contentArea">
        <p>
            <br>
            <br>

            <!--Image for Website-->
            <img src="assets/images/HomePageMain.jpg" frameborder="0" width=70% height="auto" allowfullscreen>
            <br>
            <b id="projectDescription"> This Website is one of the biggest project I am working on after gettting my Diploma as a Software Engineer. I wanted to work on something enormous by myself for some time after I finish my college and this is the result of it. Making myself
                aware of whole Development Cycle and letting myself and my resume assure that I am flexible working in any part of the Website Development Life Cycle.
            </b>
            <br>
            <br>
            <button mat-raised-button>LEARN MORE</button>
            <br>
            <br>
        </p>
        <!-- Website Content Finishes -->
    </div>

    <!--Middle Image finish-->
</div>

<!-- Last Division image Starts -->
<div class="divImg" id="Img4">
    <!-- No Content For last Image -->
</div>

<footer class="footerContent">
    <!-- Last Grid Column -->
    <mat-grid-list cols="2" rows="2" rowHeight="100%" columnHeight="10%">
        <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">ABOUT</mat-grid-tile>
        <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">BLOGS</mat-grid-tile>
        <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">SUGGEST</mat-grid-tile>
        <mat-grid-tile matRipple [matRippleUnbounded]="unbounded">SAY HI!</mat-grid-tile>
    </mat-grid-list>
</footer>